/* 
-------------------------------------------
    : Custom - Page Screens css :
-------------------------------------------
*/
.text-orange{
    color: #ff6600!important;
}
//table
div.table-responsive>div.dataTables_wrapper>div.row{
    .dataTables_length,
    .dataTables_filter{
        display: none;
    }
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before{
    display: none;
}
.table-responsive{
    table{
        width: 100% !important;
        thead{
            tr th{
                display: table-cell!important;
                &.edit,
                &.delete,
                &.cancel{
                    width: 100px!important;
                    text-align: center;
                    &:before,
                    &:after{
                        display: none;
                    }
                }
            }
        }
        tbody{
            tr td{
                display: table-cell!important;
                &.edit,
                &.delete,
                &.cancel{
                    text-align: center;
                    max-width: 100px;
                    min-width: 100px;
                    width: 100px;
                }
            }
        }
    }
}
//end table

//form
@media only screen and (max-width: 1200px) and (min-width: 992px){
    form.label-inline-custom-3-col,
    form.label-inline-custom{
        .form-group{
            label{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .row{
                >div{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
//end form

//subsription-plan-page
@media only screen and (max-width: 1200px) and (min-width: 992px){
    .subsription-plan-page{
        form{
            .form-group{
                label{
                    -ms-flex: 0 0 41.666667%;
                    flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                }
                >div{
                    -ms-flex: 0 0 19.4444443333%;
                    flex: 0 0 19.4444443333%;
                    max-width: 19.4444443333%;
                }
            }
        }
    }
}

//end subsription-plan-page

//tab-child
.tab-child.nav-tabs-default{
    .nav.nav-tabs{
        border: 0;
        .nav-link{
            border: 0;
        }
    }
    .tab-content{
        border: 0;
    }
}
@media (min-width: 1300px){
    .tab-child.nav-tabs-default{
        &:after{
            content: "";
            display: table;
            clear: both;
        }
        .nav.nav-tabs{
            float: left;
            width: 25%;
            display: block;
        }
        .tab-content{
            float: right;
            width: 75%;
        }
    }
}
@media (max-width: 1300px){
    .tab-child.nav-tabs-default{
        .tab-content .tab-pane{
            >.row{
                padding: 0 15px;
                >div{
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

//tab-child


.bank-type-custom{
    .form-check{
        float: left;
        padding-right: 20px;
        &:nth-child(2n +1){
            clear: both;
        }
    }
}

.custom-upload-file{
    .upload-file-block{
        max-width: none;
    }
    .file.upload-file{
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin: 0;
        input{
            margin: 0;
            filter: alpha(opacity=0);
            opacity: 0;
        }
        .file-custom{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 5;
            &:before{
                position: absolute;
                top: -.075rem;
                right: -.075rem;
                bottom: -.075rem;
                z-index: 6;
                display: block;
                content: "Browse";
                padding: .375rem .75rem;
                line-height: 1.5;
                color: #555;
                background-color: #eee;
                border: .075rem solid #ddd;
                border-radius: 0 .25rem .25rem 0;
            }
            &:after{
                content: "Choose file...";
            }
        }
    }
}

.roles-detail-block,
.roles{
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: $primary;
    }

    input:focus + .slider {
       box-shadow: 0 0 1px $primary;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

.card-header-custom{
    border-bottom: 1px dotted #000;
}
.payment-information{
    .row-line{
        border-top: 1px solid $border-color;
    }
}

.nav-tabs-default{
    &.nav-tabs-border{
        .tab-content{
            border: 0;
            .tab-pane-content{
                border: 1px solid $border-color;
                border-top: 0;
            }
        }
    }
}


@media (max-width: 768px){
    .sm-block{
        display: block!important;
        label + div{
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .search-dashboard-block{
        form{
            .mr-3{
                margin-right: 0!important;
            }
        }
    }

    .payment-information{
        form{
            &.pl-5{
                padding-left: 0!important;
            }
            &.pr-5{
                padding-right: 0!important;
            }
        }
        .text-right{
            text-align: left!important;
        }
    }

    #invoices .form-group {
        display: flex;
        .form-control{
            width: calc(100% - 145px);
        }
        button{
            width: 145px;

        }
    }

}
@media only screen and (min-width: 768px){
    .toggle-menu{
        .vertical-menu > li > a{
            text-align: center;
        }
    }
}

@media only screen and (min-width: 768px){
    #invoices .form-group .form-control {
        width: 320px;
        display: inline-block;
    }

    #billing,
    #payment{
        .tab-pane-content{
            padding: 3rem;
        }
        form{
            max-width: 600px;
            label{
                text-align: right;
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 400px){
    #invoices .form-group {
        display: block;
        .form-control{
            width: 100%;
            margin-bottom: 10px;
        }
        button{
            width: 100%

        }
    }
}